body {
    background-image: url(../images/animal.jpg);
    /* background-color: rgb(71, 67, 67); */
    background-size: 1440px 800px;
	background-position: cover;
 	display: compact;
    font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Baloo Bhaina', cursive;
}

form {
    padding: 20px;
}

input[type="text"] {
    width: 180px;
    border-radius: 6px;
    padding: 5px;
}

.container {
    color: #534d2d;
    padding: 70px;
    margin: 80px;
}

.item {
    display: inline-block;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

#add-animal {
    background-color: #d1e065;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
